<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dayi">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application>
        <activity
            android:name=".activity.AskQuestionActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|layoutDirection|screenSize"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <activity android:name=".activity.AskQuestionFindActivity"></activity>

        <activity android:name=".activity.TeacherAnswerQuestionDetailActivity"></activity>

        <activity android:name=".activity.TeacherWriteAnswerActivity"></activity>
        <activity android:name=".activity.StudentQuestionDetailActivity"></activity>

        <activity android:name=".activity.TeacherAnswerDetailActivity"></activity>


        <activity android:name=".activity.TeacherQuestionListActivity"></activity>

        <activity android:name=".activity.StudentQuestionListActivity"></activity>

        <activity android:name=".activity.PrivateAskActivity"></activity>

        <activity android:name=".activity.web.DayiNormalDetailWebActivity"></activity>
    </application>
</manifest>
