<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.live">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    // android:configChanges="orientation|keyboardHidden|keyboard|layoutDirection|screenSize"
    <application>

        <activity android:name=".activity.RoomActivity"></activity>
        <activity
            android:name=".activity.MainRoomActivity"

            android:configChanges="orientation|keyboardHidden|keyboard|layoutDirection|screenSize"

            ></activity>
    </application>
</manifest>
