<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.youxuan">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".activity.YouXuanMainActivity"></activity>
        <activity android:name=".activity.CompanyClassActivity"></activity>
    </application>


</manifest>
