<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.user">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <!--登录-->
        <activity android:name=".activity.LoginActivity"></activity>
        <activity android:name=".activity.StartActivity"></activity>
        <activity android:name=".activity.BookChooseActivity"></activity>
        <activity android:name=".activity.IdentityActivity"></activity>
        <activity android:name=".activity.XieyiActivity"></activity>
        <activity android:name=".activity.XieyiActivity2"></activity>

        <activity android:name=".activity.WebViewTest"></activity>
    </application>
</manifest>
